<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список курсов</title>
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="~{fragments/header :: body}"></div>

<h1>Курсы</h1>

<a href="/courses/add">Добавить курс</a>
<br/><br/>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Описание</th>
        <th>Преподаватель</th>
    </tr>
    <tr th:each="course : ${courses}">
        <td th:text="${course.id}">ID</td>
        <td th:text="${course.title}">Название</td>
        <td th:text="${course.description}">Описание</td>
        <td th:text="${course.teacher != null ? course.teacher.firstName + ' ' + course.teacher.lastName : 'Нет преподавателя'}">
            Преподаватель
        </td>
    </tr>
</table>
</body>
</html>